<%= stylesheet_link_tag "recipe", "data-turbo-track": "reload" %>

<% @recipes.each do |recipe| %>
  <div class="recipe-container">
  <div class="recipe-item">
  <div>
  <p class="recipe-name"><%= recipe.name %></p>
  <a href="<%= recipe_path(id: recipe.id) %>" class="recipe-section">
        <%= link_to 'REMOVE', recipe_path(id: recipe.id), data: { turbo_method: :delete, turbo_confirm: 'Delete the recipe?' }, class: '' %></td>
        <%= link_to 'View', recipe_path(id: recipe.id) %>
      </div>
      <p><%= recipe.description %></p>
    </div>
  </div>
  
<% end %>




