<aside class="flex-recipe">
  <h1>Public Recipes</h1>
  <% @recipes.each do |recipe| %>
    
    <a href="<%= recipe_path(recipe) %>" class="recipe-item">
        <div>
        <p class="recipe-title"><%= recipe.name %></p>
        <p>By: <%= recipe.name %></p>
      </div>
      <div>
        <p>Total food items: <%= @recipes.length %></p>
        <p>Total price: <%= recipe.name %></p>
      </div>
    
    </a>
  <% end %>
</aside>